.main-header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user-container{
    background-color: $white;
    padding: 8px 12px;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba($black , .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-name{
      margin-left: 12px;
    }
  }
}